h1 {
  font-family: arial;
  color: #00ADB5;
}


h3 {
  font-family: arial;
    color: #00ADB5;
}

p {
  font-family: arial;
}

img{
  height: 250px;
  width: 250px;
}
li{
  font-family: arial;
}

a{
  font-family: arial;
}

label{
  font-family: arial;
}

body {
  background-color: #393e46;
}

hr {
  border-style: none;
  border-top-style: dotted;
  height: 5px;
  width: 30px;
}
