h1 {
  font-family: arial;
  color: #00ADB5;
}


h3 {
  font-family: arial;
    color: #00ADB5;
}

p {
  font-family: arial;
}

img{
  height: 250px;
  width: 250px;
}
li{
  font-family: arial;
}

a{
  font-family: arial;
}

label{
  font-family: arial;
}



hr {
  border-style: dotted none none;
  border-color: grey;
  height: 5px;
  width: 5%;
}
